body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: #18181b;
}

.CubeImage{
  height: auto;
}

.imageClass{
  border-radius: 100%;
  width: 95%;
  height: 95%;
}

.section-links::before {
  content: '';
  position: absolute;
  width: 5%;
  height: 55%;
  bottom: 0;
  top: 0;
  right: 1;
  transform-origin: right;
  transition: transform .5s ease-in-out;
  transform: scaleX(0);
  border-radius: 5%;
  border-style: solid;
  border-color: blue;
  border-top: 0;
  border-bottom: 0;
  padding-left: -40px;
  margin-left: -0.5%;
  margin-top: 1vh;
}

.section-links:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}